h1{
  color: darkblue;
  text-transform: uppercase;
  text-align: center;
}
h3{
  color: orange;
}
h4{
  color: red;
  margin: 5px;
}
button{
  margin: 10px;
}
b{
  color: green;
}
strong{
  color:midnightblue;
}
h2{
  color: blueviolet;
}
