.mybox{
  width: 30%;
  border: 1px solid;
  border-radius: 20px;
  margin: 80px auto;

}
form{
  width: 70%;
  margin:0px auto;

}
button{
  margin-bottom: 50px;
}
b{
  font-size: x-small;
  color: red;
}
